*~
_*
*.o
*.d
*.asm
*.sym
*.img
*.pyc
vectors.S
bootblock
entryother
initcode
initcode.out
kernelmemfs
mkfs
kernel/kernel
user/usys.S
.gdbinit
myapi.key
*-handin.tar.gz
xv6.out*
.vagrant/
submissions/
mycode.diff
qemu-4.1.1.tar.xz
.vscode/settings.json